.panel-body h3 {
  margin: 10px 0 15px;
  padding: 0 0 15px 0;
  border-bottom: 1px solid #EEEEEE;
}

.panel-body h3 .badge {
  font-size: .7em;
}

table.table td .label {
  font-size: 110% !important;
  margin: 10px 5px 5px 0px;
}

li.logout {
  padding-left: 20px;
}

span.label a:hover{
  color: transparent;
}